html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 135, 153);
} 

#calculator-body{
    border: solid white;
    border-width: thin;
    border-radius: 5%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#row-5{
    margin-bottom: 0px;
}

.row{
    margin-bottom: 5px;
}

button{
    height: 70px;
    width: 70px;
    border-style: none;
    border-radius: 5%;
    margin: 1px;
}

#display{
    text-align: right;
    border-style: none;
    border-radius: 5%;
    margin-bottom: 10px;
}